table.dataTable th {
    text-align: center;
}

table.dataTable td {
    text-align: center;
}

table.dataTable tr.inactive {
    background-color: #f8d7da;
}

table.dataTable tr.onHold {
    background-color: #fff3cd;
}